


@media (min-width: 768px) {
    .container {
        width: 750px;

    }

}

@media (min-width: 992px) {
    .container {
        width: 970px;

    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;

    }
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center; 
    position: relative;  
}
.perent ul{
    display: flex;
    list-style: none;    
}
h1 span:last-child{
    color: blue;
}
ul li{
    padding: 10px;   
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul a{
    text-decoration: none;
    color: magenta;

}
.header i{
    display: none;
}
.header ul li:nth-child(1){
    background-color: greenyellow;
    border-radius: 20px;
    padding: 15px;
}
@media (max-width: 767px) { 
    .header ul {
        display: none;
        background-color: rgb(235 244 236/0.5);
        position: absolute;
        top: 100%;
        left: 30%;
        padding: 40px;
        border-radius: 10px; 
        z-index: 1 ; 
      
    }
    .header li{
        padding: 15px;
    }
    .header i{
        display:block;
        font-size: 30px;
    }
    .header i:hover + ul{
        display: block;
    }
    .header ul:hover{
        display: block;
        
    }
}

/* start style landing */
.landing{
    background-image: url(image/bg-portfolio.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}




/* and style landing */

/* start style services */
.services h1{
    text-align: center;
    color: chartreuse;
}
.text{
    color: wheat;
    font-size: 20px;
}
.services-card{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
}
.card{
    background-color: darksalmon;
    text-align: center;
    border-radius: 10px;
}
.card i{
    font-size: 45px;
    color: darkviolet;
    padding: 20px 0 0 0 ;
}
.card h1{
    color: olive;
}



/* end style services */

/* start style about */
.continer h1{
    text-align: center;
    color: chartreuse;
}
.text-continer img{
    width: 100%;

}
.text-continer{
    display: grid;
    grid-template-columns: repeat(auto-fit,220px);
    justify-content: center;
    gap: 15px;

}
.presentation{
    text-align: center;
}
.text-continer p{
    text-align: justify;
    font-size: 20px;
}
.text-continer button {
    font-size: 25px;
    color: wheat;
    width: 160px;
    height: 55px;
    background-color: rgb(90, 148, 9);
    border-radius: 15px;
    border: none;
    
}

.presentation i{
    font-size: 35px;
    color: floralwhite;
}





/* end style about */

/* start style project */
.proj img{
    width: 100%;
}
.project .stylepro{
text-align: center;
color: chartreuse;
}
.proj{
    text-align: center;
    background-color: gainsboro;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius:20px ;
}
.proj button{
    background-color: chocolate;
    padding: 15px;
    margin-bottom: 20px;
    margin-bottom: 1Opx;
    border: none;

   border-radius: 20px;
}
/* end style project */

/* start contact */
.contact{
    display: grid;
    grid-template-columns:repeat(auto-fit,300px);
    align-items: center;
}

iframe{
    width: 100%;
}
.linke-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-size: 20px; 
}
.linke-contact i{
    font-size: 30px;
}
.linkedin i{
    color: blue;
}
.githup i{
    color: #000;
}
.email i{
    color: red;
}
.linke-contact div{
    display: flex;
    align-items: center;
    gap: 7px;


}



/* end contact */


/* start fouter */
.fouter{
    height: 100px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.fouter p{
    color: wheat;
    font-weight: bold;
}
.fouter p span{
    color:green;
}
/* end fouter */
